.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  color: #333;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    .section {
      width: 100%;
      max-width: 600px;
      margin-bottom: 2em;
      padding: 1em;

      border-radius: 4px;

      &Title {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        color: blue;
      }

      &Content {
        font-size: 1em;
        line-height: 1.5em;
      }
    }
  }
}
