.pageContainer {
  border-radius: 1rem;
  margin: 3vw 3vw 3vw 3vw;
  background-color: white;
  padding: 4rem;

  .templates {
    display: flex;
    flex-direction: column;
  }

  .paletteGenerator {
    display: flex;
    .paletteSettings {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding-bottom: 2rem;
    }
  }
}
@media (max-width: 1024px) {
  .pageContainer {
    .paletteGenerator {
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

// define style for even smaller screens
@media (max-width: 480px) {
  .pageContainer {
    padding: 1rem;
    .paletteGenerator {
      flex-direction: column;
    }
  }
}
